{% extends 'base.html.twig' %}

{% block title %}
    {# Si edit existe, c'est que l'on veut éditer et on adapte le titre #}
    {% if edit %}
        Éditer une formation
    {% else %}
        Ajouter une formation
    {% endif %}
{% endblock %}

{% block body %}
    <div class="page">
        {# Si edit existe, c'est que l'on veut éditer et on adapte l'affichage #}
        {% if edit %}
            <h1>Éditer une formation</h1>
        {% else %}
            <h1>Ajouter une formation</h1>
        {% endif %}

        {{ form_start(formAddFormation, { 'attr' : { 'class' : 'ajoutModification' } }) }}
            <div class="ligneFormulaire">
                {{ form_label(formAddFormation.libelle, 'Nom de la formation :') }}
                {{ form_widget(formAddFormation.libelle) }}
            </div>
            {# Si edit existe, c'est que l'on veut éditer et on adapte le texte dans le bouton de submit #}
            {% if edit %}
                <div class="ligneSubmit">
                    {{ form_row(formAddFormation.submit, {'label' : 'MODIFIER LA FORMATION'}) }}
                </div>
            {% else %}
                <div class="ligneSubmit">
                    {{ form_row(formAddFormation.submit, {'label' : 'AJOUTER LA FORMATION'}) }}
                </div>
            {% endif %}
        {{ form_end(formAddFormation) }}
    </div>
{% endblock %}