{% extends 'base.html.twig' %}

{% block title %}Détails d'une formation{% endblock %}

{% block body %}
    {% if formation %}
        <h1>{{ formation.libelle }}</h1>
        <p><i>Voici les différentes sessions de cette formation</i></p>
        {% if sessions %}
            <table>
                <thead>
                    <tr>
                        <th>Disponibilité</th>
                        <th>Session</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Inscrits</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions %}
                        <tr>
                            <td><i>faire la disponibilité(comparaison nb inscrit et nb places)</i></td>
                            <td><a href="#">{{ session.libelle }}</a></td>
                            <td>{{ session.dateDebut | date("d/m/Y") }}</td>
                            <td>{{ session.dateFin | date("d/m/Y") }}</td>
                            <td>nb/{{ session.nombrePlaces }}</td>
                            <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
