{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}
    <h1>LISTE DES SESSIONS</h1>
    {% if sessions %}
        <table>
            <thead>
                <tr>
                    <th>Disponibilité</th>
                    <th>Formation</th>
                    <th>Session</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Inscrits</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                    <tr>
                        {% if session.stagiaires | length < session.nombrePlaces %}
                            <td>DISPONIBLE</td>
                        {% else %}
                            <td>COMPLET</td>
                        {% endif %}
                        <td><a href="{{ path('show_formation', {'id' : session.formation.id}) }}">{{ session.formation }}</a></td>
                        <td><a href="#">{{ session }}</a></td>
                        <td>{{ session.dateDebut | date("d/m/Y") }}</td>
                        <td>{{ session.dateFin | date("d/m/Y") }}</td>
                        <td>{{ session.stagiaires | length }} / {{ session.nombrePlaces }}</td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
