{% extends 'base.html.twig' %}

{% block title %}
    {# Si edit existe, c'est que l'on veut éditer et on adapte le titre #}
    {% if edit %}
        Éditer un module
    {% else %}
        Ajouter un module
    {% endif %}
{% endblock %}

{% block body %}
    <div class="page">
        {# Si edit existe, c'est que l'on veut éditer et on adapte l'affichage #}
        {% if edit %}
            <h1>Éditer un module</h1>
        {% else %}
            <h1>Ajouter un module</h1>
        {% endif %}

        {{ form_start(formAddModule, { 'attr' : { 'class' : 'ajoutModification' } }) }}
            <div class="ligneFormulaire">
                {{ form_label(formAddModule.libelle, 'Nom :') }}
                {{ form_widget(formAddModule.libelle) }}
            </div>
            <div class="ligneFormulaire">
                {{ form_label(formAddModule.categorie, 'Catégorie :') }}
                {{ form_widget(formAddModule.categorie) }}
            </div>
            {# Si edit existe, c'est que l'on veut éditer et on adapte le texte dans le bouton de submit #}
            {% if edit %}
                <div class="ligneSubmit">
                    {{ form_row(formAddModule.submit, {'label' : 'MODIFIER LE MODULE'}) }}
                </div>
            {% else %}
                <div class="ligneSubmit">
                    {{ form_row(formAddModule.submit, {'label' : 'AJOUTER LE MODULE '}) }}
                </div>
            {% endif %}
        {{ form_end(formAddModule) }}
    </div>
{% endblock %}