{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <div class="page">
        <h1 class="titrePage">LISTE DES CATÉGORIES</h1>
        <a href="{{ path('add_categorie') }}" class="boutonAjout">AJOUTER UNE CATÉGORIE</a>
        {% if categories %}
            <table class="tableau">
                <thead>
                    <tr>
                        <th>Catégorie</th>
                        <th>Modules</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td><a href="{{ path('show_categorie', { 'id' : categorie.id }) }}">{{ categorie }}</a></td>
                            <td>{{ categorie.modules | length }}</td>
                            {% if categorie.modules | length == 0 %}
                                <td><a href="{{ path('delete_categorie', { 'id' : categorie.id }) }}"><i class="fa-solid fa-trash"></i></a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
